// COLORES

$background-principal: rgb(255, 123, 0);
$primario:rgb(1, 4, 41);
$secundario: rgb(255, 208, 0);
$claro: rgb(255, 255, 255);
$grisClaro:rgb(112, 112, 112);
$grisOscuro: rgb(37, 37, 37);
$font-size: 1.5rem;